.header__navbar {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-bottom: 50px;
    
    &__icon:hover {
      color: $color-tertiary;
    }
  }
  
  .header__navbar__basket:hover {
    filter: brightness(0);
   }