.header__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-bottom: 50px;
    
    &__icon {
      background: linear-gradient(to bottom right, #cc7d50, #8f5bfe);
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
      
      &:hover{
        filter: saturate(0);
        color:#fff;
       }
    }
  }
  
  .header__navbar__basket {
    display: flex;

    &__basket-nb{
      display: flex;
      width: 65px;
      height: 45px;
      position: absolute;
      justify-content: center;
      align-items: center;
    }

    &:hover{
      filter: saturate(0);
      color:#fff;
     }
  }
 
  

   